//_variables.scss

//color
$primary_color: white;
$secondary_color: #fcca03;
$primary_background_color: blue;

//style
$primary_font_family: "Signika", sans-serif;
$logo_font_size: 25px;
$menu_font_size: 14px;
$th_font_size: 15px;
$td_font_size: 12px;

//margin & padding
$common_padding: 10px;
$cell_padding: 10px;
$menu_list_padding: 20px;
$h2_padding_bottom: 20px;
$header_margin_bottom: 10px;
